/* ================================================== */
/* BODY */
/* ================================================== */

body {
    background-image: url('/static/assets/themes/bg-mc-001.webp');
    background-position: center;
    background-size: cover;
}

/* ================================================== */
/* CONTENT */
/* ================================================== */

.content {
    backdrop-filter: blur(4px);
    border: 1px solid var(--color-accent-main);
    width: min(100%, 568px);
}

.content .mode.selected {
    border-bottom: 2px solid var(--color-accent-alt);
    background: linear-gradient(0deg, var(--color-surface-alt) 0%, transparent 50%);
}

.content .form .input {
    background-color: var(--color-accent-main);
    color: var(--color-bg-main);
    padding: 8px;
}